body {
    background-color: grey;

    .skills {

        .content {

            div {
                .logo-skill {
                    height: 40px;
                    width: auto;
                }
            }
        }
    }
}


